---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import Stack from "../components/Stack.astro";
import Proyectos from "../components/Proyectos.astro";
import Contenedor from "../components/Contenedor.astro";
import Experiencia from "../components/Experiencia.astro";
---

<Layout title="Portfolio de 7R0N1X">
	<main>
		<Contenedor class="h-[550px] justify-end "><Hero /></Contenedor>
		<Contenedor class="justify-center mt-16 mb-16"><Stack /></Contenedor>
		<Contenedor id="proyectos" class="justify-center"><Proyectos /></Contenedor>
		<Contenedor id="experiencia" class="justify-center mb-16 mt-4"><Experiencia /></Contenedor>
	</main>
</Layout>
