---
import Layout from "../layouts/Layout.astro";
import Contenedor from "../components/Contenedor.astro";
import Hero from "../components/Hero.astro";
---

<Layout title="7R0N1X">
	<main>
		<Contenedor class="h-screen flex flex-col justify-center items-center gap-10"><Hero /></Contenedor>		
	</main>
</Layout>
