---
import "@fontsource/poppins";
import "@fontsource/poppins/300.css";
import "@fontsource/poppins/600.css";
import "@fontsource/poppins/800.css";
import LinkButton from "./LinkButton.astro";
---

<picture>
  <img src="/avatar.svg" alt="avatar" class="w-full" />
</picture>
<section class="w-full sm:max-w-[750px] text-center flex flex-col gap-7 text-white/90">
  <h1 class="font-extrabold text-4xl 2xl:text-[55px] sm:leading-[63px]">
    ¡Hola! Soy 7R0N1X
  </h1>
  <p class="font-light sm:text-lg text-justify sm:text-center">
    Apasionado desarrollador web con experiencia en la creación de sitios web
    dinámicos y atractivos. Mi enfoque principal es desarrollar soluciones web
    que sean tanto funcionales como estéticamente agradables.
  </p>
</section>
<section class="flex items-center gap-3">
  <LinkButton href="mailto:info.tronix.dev@gmail.com" name="Contacto" title="Contactar con 7R0N1X" class="bg-white/90 text-black font-semibold py-3 px-5 rounded-[50px]" />
  <LinkButton href="#" name="Descargar CV" title="Descargar CV" class="text-white/90 border-2 border-white/90 font-semibold py-3 px-5 rounded-[50px]" />
</section>

<style>
  h1,
  p {
    font-family: "Poppins", sans-serif;
  }
</style>
