---
import LinkButton from "./LinkButton.astro";
import MailIcon from "../icons/social network icons/MailIcon.astro";
import CVIcon from "../icons/CVIcon.astro";

import Avatar from "../assets/avatar.webp"
import { Image } from "astro:assets";
---

<section class="w-full lg:px-0 sm:max-w-[810px] flex flex-col items-start gap-4 mt-12">
  <picture class="w-full flex justify-start items-center gap-4">
    <Image src={Avatar} alt="avatar" class="size-16 animate-fade-in-right" />
    <LinkButton href="https://www.linkedin.com/in/ing-eduardomolina" name="Disponible para trabajar" title="Contactar" class="backdrop-blur-sm border border-white/20 px-3 py-1 text-sm rounded-full cursor-pointer whitespace-nowrap text-white/70 animate-tada" />
  </picture>
  <section class="w-full sm:max-w-[750px] flex flex-col gap-4 text-white/70">
    <h1 class="font-extrabold text-3xl sm:text-4xl animate-fade-in-right">¡Hola! Soy 7R0N1X</h1>
    <p class="font-light sm:text-lg mt-5 mb-5 text-pretty tracking-wide text-gray-400 animate-fade-in-left">
      Apasionado del <span class="text-[#E34F26]">desarrollo web</span>, siempre en búsqueda de <span class="text-[#1572B6]">nuevos conocimientos</span>
      y <span class="text-[#BC52EE]">técnicas</span> para perfeccionarme constantemente en este apasionante campo.
      Estoy <span class="text-[#7952B3]">comprometido</span> con la <span class="text-[#06B6D4]">excelencia y la innovación</span>.
    </p>
  </section>
  <section class="flex items-center gap-3 text-white/70 animate-fade-in-right">
    <LinkButton href="mailto:info.tronix.dev@gmail.com" name="Contáctame" title="Contactar con 7R0N1X" class="border border-white/20 px-3 py-1 rounded-[50px] flex items-center gap-2 transition-all hover:scale-105">
      <MailIcon class="size-4" />
    </LinkButton>
    <LinkButton download="cv-eduardo-molina.pdf" href="/cv/cv-eduardo-molina.pdf" name="Descargar CV" title="Descargar CV" class="border border-white/20 px-3 py-1 rounded-[50px] flex items-center gap-2 transition-all hover:scale-105">
      <CVIcon class="size-4" />
    </LinkButton>
  </section>
</section>
