---
import "@fontsource/poppins";

const { href, name, title } = Astro.props;
---

<a href={href} target="_blank" title={title} {...Astro.props}> <slot /> {name}</a>

<style>
  a {
    font-family: "Poppins", sans-serif;
  }
</style>
