---
import "@fontsource-variable/plus-jakarta-sans";
---

<header class="w-full flex justify-center items-center mt-2 fixed top-0 z-10">
  <nav class="px-3 text-sm text-white rounded-full bg-gradient-to-r from-[#FF8660] to-[#9A33FF]">
    <ul class="flex [&>li>a]:inline-block [&>li>a]:px-2 [&>li>a]:py-2 [&>li>a]:font-semibold">
      <li><a href="#" class="transition-colors hover:bg-clip-text hover:text-black">Inicio</a></li>
      <li><a href="#" class="transition-colors hover:bg-clip-text hover:text-black">Proyectos</a></li>
      <li><a href="#" class="transition-colors hover:bg-clip-text hover:text-black">Experiencia</a></li>
      <li><a href="#" class="transition-colors hover:bg-clip-text hover:text-black">Contacto</a></li>
    </ul>
  </nav>
</header>

<style>
  nav ul li {
    font-family: "Plus Jakarta Sans Variable", sans-serif;
  }
</style>
