---
import HTML5Icon from "../icons/stack/HTML5Icon.astro"
import CSS3Icon from "../icons/stack/CSS3Icon.astro"
import AstroIcon from "../icons/stack/AstroIcon.astro"
import BootstrapIcon from "../icons/stack/BootstrapIcon.astro"
import TailwindCSSIcon from "../icons/stack/TailwindCSSIcon.astro"
---

<section class="w-full sm:max-w-[810px] animate-blink">
  <h2 class="font-bold text-3xl mb-5 text-white/70 text-center">Stack</h2>
  <section class="flex justify-center items-center gap-8 sm:gap-16 text-white">
    <section class="text-white/70 cursor-pointer transition hover:text-[#E34F26] hover:scale-110"><HTML5Icon class="size-10" /></section>
    <section class="text-white/70 cursor-pointer transition hover:text-[#1572B6] hover:scale-110"><CSS3Icon class="size-10"></section>
    <section class="text-white/70 cursor-pointer transition hover:text-[#BC52EE] hover:scale-110"><AstroIcon class="size-10" /></section>
    <section class="text-white/70 cursor-pointer transition hover:text-[#7952B3] hover:scale-110"><BootstrapIcon class="size-10" /></section>
    <section class="text-white/70 cursor-pointer transition hover:text-[#06B6D4] hover:scale-110"><TailwindCSSIcon class="size-10" /></section>
</section>
</section>


