---
import "@fontsource-variable/onest";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="author" content="7R0N1X">
		<meta name="publisher" content="7R0N1X">
		<meta name="description" content="Desarrollador front-end especializado en sitios web estáticos y funcionales. Explora mis proyectos con HTML, CSS, JavaScript, Astro y Tailwind CSS. ¡Descubre cómo puedo crear una presencia en línea impactante para tu proyecto o negocio!" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="relative bg-neutral-950 select-none">
		<div class="absolute top-0 z-[-2] min-h-screen w-full bg-neutral-950 bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(120,119,198,0.3),rgba(255,255,255,0))]"></div>
		<Navbar />
		<slot />
		<Footer />
	</body>

	<style is:global>
		html {
			scroll-behavior: smooth;
			font-family: "Onest Variable", sans-serif;
		}
	</style>
</html>
